.bgimage
{
  background-image: url('../img/logo300.png');
  background-position: center center;
  background-size: contain;
  background-repeat: repeat-y;
  height: 100px;
}

.introtxt
{
  color:  #0D5837;
}
.dropbtn
{
    background-color: #0D5837;
    color: white;
    padding: 3px;
    border:none;
    float:left;
    font-size = 32px;
    cursor: pointer;
}

.dropdown
{
  position: relative;
  display: inline-block;
}

.dropdown-content
{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
}

.dropdown-content a
{
    background-color:  #0D5837;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.pos-f-t
{
  background-color: #0D5837;
  font-size: 13px;
  border: outset;
  border-color: #4cae4c;
  color: white;
  line-height: 17px;
  margin-bottom: 5px;
  margin-right: 70px;
}

.searchbar
{
    float:right;
    padding:3px;
    margin-left:0px;
}

@media (max-width:400px){
    .searchbar{
        float: left;
    }
}

.panel-default
{
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-header
{
  margin-left: 30px;
  margin-right: 30px;
}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}
